*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
a{color: white;
  text-decoration: none;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #1D2671, #C33764);
    position: relative;
}

header::before{
    content: "";
    width: 620px;
    height: 600px;
    position: absolute;
    left: -6;
    bottom: 0;
    background-image: url('img.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
   box-shadow: 10px 15px 6px #222;
    opacity: 0.8;
}


nav{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

.logo a{

    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
}

.menu ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0 15px;

}

.menu ul li a{
    text-transform: capitalize;
}

ul li:hover{
    border-top: 2px solid #5dade2;
    border-bottom: 2px solid #5dade2;;
}

.contact-btn a{
    background-color: #d465ef;
    padding: 12px 26px;
    font-style: 14px;
    font-weight: 500;
    border: 1px solid transparent;
    text-transform: capitalize;
}


.contact-btn a:hover{
    background: linear-gradient(to bottom,#615cfd 0%, #d465ef 100%);
}

.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    left: 900px;
}

.center-content h1{
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 10px;
    z-index: 1;
}

.center-content h2{
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: capitalize;
   
}

.center-content h2:before{
   content: "";
   width: 80px;
   height: auto;
   border: 2px solid #fff;
   background-color: #fff;
   position: absolute;
   left: -85px;
   bottom: 0;
   margin-bottom: 10px;

}


.social-networks{
    width: 100%;
    height: auto;
    position: absolute;
    right: -90rem;
    top: 40%;
}


.fa-icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient(to bottom,#615cfd 0%, #d465ef 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}


.fa-icons:nth-child(even){
  margin: 20px 0;
}

.fa-icons:hover{
    background: linear-gradient(to bottom,#d465ef 0%,  #615cfd 100%);;
}